.Navigation {
    width: 22rem;
}

.Navigation h1 {
    margin-bottom: 1rem;
    padding-bottom: 0;
}

.Navigation .accordion {
    margin: 1rem 0;
}

.Navigation .accordion-header {
    margin-right: 1rem;
}

.Navigation .accordion-item {
    border: 0;
}

.Navigation .accordion-button {
    background-color: inherit;
    border: 0;
    box-shadow: none;
    color: inherit;
    padding: 0 0 .5rem 0;
}

.Navigation .accordion-body {
    margin: 0;
    padding: 0;
}

.Navigation .accordion-button::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: .5em 50%
}

.Navigation .accordion-button[aria-expanded="true"]::before {
    transform: rotate(90deg)
}

.Navigation .accordion-button::after {
    display: none;
}

.Navigation .btn-account {
    display: flex;
    padding: 0.375rem 1rem 0.375rem 1.25rem;
    text-align: left;
    width: 100%;
}

.Navigation .btn-account::after {
    display: none;
}

.Navigation .btn-account__name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
