.Nav {
    width: 280px;
}

.Nav .accordion {
    margin: 1rem 0;
}

.Nav .accordion-item {
    border: 0;
}

.Nav .accordion-button {
    background-color: inherit;
    border: 0;
    box-shadow: none;
    color: inherit;
    padding: 0 0 1rem 0;
}

.Nav .accordion-body {
    margin: 0 1.25rem;
    padding: 0;
}

.Nav h1 {
    border-bottom: 1px solid rgb(222, 226, 230) !important;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.Nav .accordion-button::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: .5em 50%
}

.Nav .accordion-button[aria-expanded="true"]::before {
    transform: rotate(90deg)
}

.Nav .accordion-button::after {
    display: none;
}
